<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>BA9F11A2-F894-41F6-8ADD-86C639B3597F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C8DBBD25-D349-4EBD-BA38-4CF5FDB57EAF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CC170ECD-6B82-4A05-8681-8185ACE453FE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BA9F11A2-F894-41F6-8ADD-86C639B3597F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>F1LT3R</string>
	<key>description</key>
	<string>vim</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>v</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
  do shell script "source ~/.zprofile; v " &amp; q &amp; "&gt;/dev/null 2&gt;&amp;1 &amp;"
end alfred_script</string>
				<key>cachescript</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>BA9F11A2-F894-41F6-8ADD-86C639B3597F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Open with MacVim</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>C8DBBD25-D349-4EBD-BA38-4CF5FDB57EAF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>v</string>
				<key>subtext</key>
				<string>Open Finder folder or selection in Vim or optionally enter a path to open</string>
				<key>text</key>
				<string>Open with Vim</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>CC170ECD-6B82-4A05-8681-8185ACE453FE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Open with MacVim
===
Open files or a folders in [MacVim](https://github.com/b4winckler/macvim) by using the `mvim` keyword or by a file/folder action.

When using the keyword, the currently selected items in Finder will be opened. If you currently have no selection, the currently open folder in Finder will open in MacVim. If you have neither a selection nor an open Finder window to be opened, your user home directory will be opened as a default (This can easily be reconfigured to default to your desktop folder by commenting one line and uncommenting another in the Applescript source of the workflow).

Optionally enter a (POSIX) path to a directory or file to open in MacVim, `~/` will be expanded.</string>
	<key>uidata</key>
	<dict>
		<key>BA9F11A2-F894-41F6-8ADD-86C639B3597F</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
		<key>C8DBBD25-D349-4EBD-BA38-4CF5FDB57EAF</key>
		<dict>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>CC170ECD-6B82-4A05-8681-8185ACE453FE</key>
		<dict>
			<key>xpos</key>
			<integer>290</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>\</string>
</dict>
</plist>
